.v-application {
  .u-border-solid {
    border: 1px solid !important;
  }
  .u-border-FF5252 {
    border-color: #ff5252 !important;
  }
  .u-border-979797 {
    border-color: #979797 !important;
  }
}
