.u-top-0 {
  top: 0px !important;
}
.u-top-25 {
  top: 25px !important;
}

.u-top-75 {
  top: 75px !important;
}

.u-top-neg120 {
  top: -120px !important;
}

.u-right-20 {
  right: 20px !important;
}

.u-right-35 {
  right: 35px !important;
}

.u-right-0 {
  right: 0 !important;
}

.u-position-absolute {
  position: absolute;
}

.u-position-relative {
  position: relative;
}

.u-z-index-10 {
  z-index: 10 !important;
}

.u-position-sticky {
  position: sticky;
}

.u-position-fixed {
  position: fixed;
}

.u-overflow-y-hidden {
  overflow-y: hidden;
}

.display-none {
  display: none !important;
}