.button-all span {
  font-family: "Avenir" !important;
  font-weight: 400 !important;
}

.m-lihat-semua__description {
  width: 70%;
}

@include bp(0, $break-md) {
  .m-lihat-semua__description {
    width: 100%;
  }

  .m-lihat-semua__button {
    width: 100%;
    margin-left: 0px !important;
    margin-bottom: 10px;
  }
}