.v-landing-page {
  &__header {
    background-image: url('~@/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 286px;
    height: 100vh;

    @include bp(0, $break-md) {
      background-position-y: 0;
    }

    &__content {
      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1 {
        font-family: "Avenir";
      }
      .button--cta {
        border: 1px solid white !important;
        width: 166px !important;
        height: 50px !important;
        font-family: "Avenir";
      }
    }
  }

  &__about {
    background-image: url('https://res.cloudinary.com/duh8crgew/image/upload/v1662876320/lumbungdesa/images/landing-page/about_umkxzy.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 286px;
    height: 100vh;
    @include bp(0, $break-md) {
      background-position-y: 0;
      padding-top: 106px;
    }

    &__content {
      background-color: #282828;
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #fff;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__program {
    background-image: url('https://res.cloudinary.com/duh8crgew/image/upload/v1662912843/lumbungdesa/images/landing-page/satu_desa_satu_produk.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15%;
    height: 100vh;

    &__content {
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__product {
    background: rgba(52, 84, 77, 0.15);
    padding-top: 100px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }

    p {
      font-weight: 400;
    }

    .row .flex:first-child {
      padding-left: 0px !important;
    }
    
    .row .flex:last-child {
      padding-right: 0px !important;
    }

    .v-image {
      height: 540px;
    }

    .v-landing-page__product-label {
      margin-right: 14px !important;
      font-family: 'Avenir';
    }

    .v-landing-page__product-price {
      font-family: 'Avenir';
      font-weight: bold;
    }

    @include bp(0, $break-md) {
      background-position-y: 0;
      padding-top: 106px;


      .row .flex:first-child {
        padding-left: 0px !important;
      }
      
      .row .flex:last-child {
        padding-right: 0px !important;
      }
      .v-image {
        height: 300px;
      }
    }


    @include bp(0, $break-sm) {
      .row .flex:nth-child(odd) {
        padding-left: 0px !important;
      }
      
      .row .flex:nth-child(even) {
        padding-right: 0px !important;
      }

      .v-image {
        height: 50%;
      }
    }

    &__content {
      background-color: #ffffff;
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__keterampilan {
    padding-top: 100px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }
    .v-landing-page_keterampilan-tab {
      font-family: "Avenir" !important;
    }
    .v-tab {
      color: black !important;
      font-family: "Avenir" !important;
    }
    .v-tab--active {
      color: white !important;
      background-color: #F58328 !important;
      font-family: "Avenir" !important;
    }
    .v-landing-page__keterampilan-card {
      border-bottom: 1px solid #D9D9D9 !important;
    }
    .v-tabs-slider-wrapper {
      height: 50px !important;
      position: absolute !important;
      z-index: 0;
    }

    .v-landing-page_keterampilan-cardlist {
      margin: 0px !important;
    }
    .v-landing-page_keterampilan-cardlist img {
      width: 100%;
      height: 200px;
    }
    .v-landing-page_keterampilan-cardlist h5, a {
      margin-left: 20px;
    }

    .v-landing-page_keterampilan-cardlist h5 {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 40px;
    }
    .v-landing-page_keterampilan-cardlist h4 {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      color: #D3A263;
    }
    .v-landing-page_keterampilan-cardlist a {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-decoration-line: underline;
      color: #D3A263;
    }
    .v-landing-page_keterampilan-cardlist-desc {
      margin-left: 20px;
    }

    @include bp(0, $break-sm) {
      .v-landing-page_keterampilan-col {
        flex-wrap: wrap;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
      }

      .v-landing-page_keterampilan-cardlist-none {
        display: none;
      }

      .v-landing-page_keterampilan-cardlist h5 {
        line-height: 30px;
      }
      .v-landing-page_keterampilan-cardlist-desc {
        margin-left: 0px;
      }
      .v-landing-page_keterampilan-cardlist h5, a {
        margin-left: 0px;
      }
    }
  }

  &__desa-budaya {
    padding-top: 150px;
    padding-bottom: 150px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }
    .v-landing-page__desa-budaya-href {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-decoration-line: underline;
      color: #D3A263;
    }
    .v-landing-page__desa-budaya-img {
      position: absolute;
    }
    .v-landing-page__desa-budaya-title {
      position: absolute;
      z-index: 99;
      margin-top: 20%;
      right: 26px;
      width: 400px;
      font-size: 40px;
    }
  }

  &__desa {
    // padding-top: 10vh;
    // padding-bottom: 90vh;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }
    .v-landing-page__desa-href {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-decoration-line: underline;
      color: #D3A263;
    }
    .v-landing-page__desa-img {
      position: absolute;
      width: auto;
    }
    .v-landing-page__desa-title {
      position: absolute;
      z-index: 5;
      margin-top: 22.5vh;
      right: 5vh;
      width: 500px;
      font-size: 40px;
      background-color: #29291e;
      color: white;
      padding: 75px 60px;
    }
    @include bp(0, $break-sm) {
      padding-bottom: 50vh;
      
      .v-landing-page__desa-img {
        width: 100%;
      }
      .v-landing-page__desa-title {
        width: 100%;
        font-size: 24px;
        padding: 30px 40px;
        right: 3vh;
      }
    }
  }

  &__desa-international {
    background: rgba(52, 84, 77, 0.15);
    padding-top: 100px;
    padding-bottom: 100px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }

    p {
      font-weight: 400;
    }

    .v-landing-page__desa-international-href {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-decoration-line: underline;
      color: #D3A263;
    }
    
    .v-landing-page__desa-international-img {
      margin-left: 30px;
    }

    @include bp(0, $break-sm) {
      .v-landing-page__desa-international-img {
        margin-left: 0px;
        width: 100%;
        margin-bottom: 50px;
      }
      .v-landing-page__desa-international-flex {
        flex-direction: column-reverse;
      }
    }
  }

  &__donasi {
    .v-card__text {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #D3A263 !important;
    }

    .v-card__title {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 900;
      font-size: 16px;
      line-height: 22px;
      /* Dark */

      color: #29293E;
      padding-top: 0px !important;
      padding-right: 45px !important;
    }

    .harga {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      line-height: 25px;
      display: flex;
      color: #F58328;
      margin-bottom: 0px;
    }
    .days {
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 25px;
      color: #29291E;
      margin-bottom: 0px;
    }

    @include bp(0, $break-md) {
      .v-card__title {
        padding-right: 5px !important;
      }

      .layout-card {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 0px !important;
      }
    }

    &__content {
      width: 65%;
      padding: 40px;
      margin-top: 850px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__csr {

    .v-landing-page__csr-btn-group {
      margin-top: -150px !important;
      margin-bottom: 300px;
    }
    
    @include bp(0, $break-md) {
      .v-landing-page__csr-img {
        width: 100%;
      }
      .v-landing-page__csr-btn-1 {
        margin-right: 0px !important;
        padding: 0px !important;
      }

      .v-landing-page__csr-btn-group {
        margin-right: 0px !important;
        margin-bottom: 100px;
        margin-top: 20px !important;
      }
      
    }

    &__content {
      width: 60%;
      margin-top: 200px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }
  .tagar {
    font-family: 'Avenir';
    font-style: normal;
    line-height: 35px;
    font-weight: 200;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
  }

  hr {
    width: 15%;
  }
}
