.v-landing-page {
  &__header {
    background-image: url('~@/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    // padding-bottom: 186px;
    padding-top: 286px;
    height: 100vh;
    // background-position-y: -100px;

    @include bp(0, $break-md) {
      background-position-y: 0;
    }

    &__content {
      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1 {
        font-family: "Avenir";
      }
      .button--cta {
        border: 1px solid white !important;
        width: 166px !important;
        height: 50px !important;
        font-family: "Avenir";
      }
    }
  }

  &__about {
    background-image: url('https://res.cloudinary.com/duh8crgew/image/upload/v1662876320/lumbungdesa/images/landing-page/about_umkxzy.png');
    background-size: cover;
    background-repeat: no-repeat;
    // padding-bottom: 186px;
    padding-top: 286px;
    height: 90vh;
    // background-position-y: -100px;

    @include bp(0, $break-md) {
      background-position-y: 0;
    padding-top: 106px;
    }

    &__content {
      background-color: #ffffff;
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__program {
    background-image: url('https://res.cloudinary.com/duh8crgew/image/upload/v1662912843/lumbungdesa/images/landing-page/satu_desa_satu_produk.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15%;
    height: 100vh;

    &__content {
      // background-color: #ffffff;
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__product {
    background: rgba(52, 84, 77, 0.15);
    padding-top: 100px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }

    p {
      font-weight: 400;
    }

    .row .flex:first-child {
      padding-left: 0px !important;
    }
    
    .row .flex:last-child {
      padding-right: 0px !important;
    }

    .v-image {
      height: 540px;
    }

    .v-landing-page__product-label {
      margin-right: 14px !important;
      font-family: 'Avenir';
    }

    .v-landing-page__product-price {
      font-family: 'Avenir';
      font-weight: bold;
    }

    @include bp(0, $break-md) {
      background-position-y: 0;
      padding-top: 106px;


      .row .flex:first-child {
        padding-left: 0px !important;
      }
      
      .row .flex:last-child {
        padding-right: 0px !important;
      }
      .v-image {
        height: 300px;
      }
    }


    @include bp(0, $break-sm) {

      .row .flex:nth-child(odd) {
        padding-left: 0px !important;
      }
      
      .row .flex:nth-child(even) {
        padding-right: 0px !important;
      }

      .v-image {
        height: 50%;
      }
    }

    &__content {
      background-color: #ffffff;
      width: 65%;
      padding: 40px;

      @include bp(0, $break-md) {
        margin-top: 60px;
      }

      h1, p {
        font-family: "Avenir";
        color: #29291e;
      }

      p {
        font-weight: 400;
      }
    }
  }

  &__keterampilan {
    // background: rgba(52, 84, 77, 0.15);
    padding-top: 100px;
    height: auto;

    h3 {
      font-weight: 600 !important;
    }
    h1, h3, p {
      font-family: "Avenir";
      color: #29291e;
    }
    .v-landing-page_keterampilan-tab {
      color: black !important;
      font-family: "Avenir" !important;
    }
    .v-tab:not(.v-tab-active) {
      color: black !important;
      font-family: "Avenir" !important;
    }
    .v-tab-active {
      background-color: blue !important;
      font-family: "Avenir" !important;
    }
  }

  .tagar {
    font-family: 'Avenir';
    font-style: normal;
    line-height: 35px;
    font-weight: 200;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
  }

  hr {
    width: 15%;
  }
  &__about-us {
    margin-top: 120px;

    @include bp(0, $break-md) {
      margin-top: 60px;

      img {
        width: 100%;
        height: 440px;
      }
    }

    @include bp(0, $break-sm) {
      img {
        height: 250px;
      }
    }
  }

  &__service {
    position: relative;
    margin-top: 120px;
    z-index: 1;

    h2 {
      position: relative;
      z-index: 99;
    }

    @include bp(0, $break-md) {
      margin-top: 60px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      margin-top: 32px;
      position: relative;
      z-index: 99;

      @include bp(0, $break-md) {
        grid-template-columns: 1fr;
      }

      .card--service {
        padding: 32px;
        background-color: white;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04), 0px 32px 70px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
      }
    }

    .image--polygon {
      z-index: 0;
      top: -120px;

      @include bp(0, $break-md) {
        top: 20px;

        img {
          width: 216px;
        }
      }
    }
  }

  &__register {
    margin-top: 120px;

    @include bp(0, $break-md) {
      margin-top: 60px;
    }

    &__image {
      border-radius: 10px;
      background-image: url('~@/assets/images/content_2.png');
      height: 610px;
      width: 395px;
      background-size: cover;
      background-repeat: no-repeat;

      @include bp(0, 1263px) {
        width: 100%;
      }

      @include bp(0, $break-md) {
        height: 216px;
        background-position-y: -350px;
      }

      @include bp(0, $break-sm) {
        background-position-y: -200px;
      }
    }
    &__text {
      @include bp($break-md, 1263px) {
        padding-left: 30px;
      }
    }
  }
  &__testimonials {
    margin-top: 120px;

    @include bp(0, $break-md) {
      margin-top: 60px;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__cards {
      display: grid;
      grid-gap: 52px;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      top: -80px;

      @include bp(0, $break-md) {
        grid-template-columns: 1fr;
        top: 0;
        grid-gap: 30px;
      }
      .card--testimonials {
        padding: 42px;
        background: #ffffff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04), 0px 32px 70px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
      }

      .card--testimonials:nth-child(1) {
        position: relative;
        top: calc(150px);
        @include bp(0, $break-md) {
          top: 0;
        }
      }

      .card--testimonials:nth-child(3) {
        grid-column: 2/3;

        @include bp(0, $break-md) {
          grid-column: unset;
        }
      }
    }
  }

  &__contact-us {
    background-image: url('~@/assets/images/contact-us.png');
    background-size: cover;
    border-radius: 12px;
    padding: 80px 134px;
    margin-top: 120px;

    @include bp(0, $break-md) {
      margin-top: 60px;
      padding: 42px;
    }
  }
}
