.c-home {
  &__header {
    background-image: url('~@/assets/images/header.png');
    background-size: cover;
    padding: 80px;
    min-height: 341px;
    margin-top: 92px;

    @include bp(0, $break-md) {
      padding: 80px 12px;
    }

    color: white;

    * {
      width: 50%;

      @include bp(0, $break-md) {
        width: 100%;
      }
    }

    p {
      margin-top: 12px;
      line-height: 28px;
    }
  }

  &__tabs {
    .tabs--fixed {
      position: fixed;
      top: 92px;
      background-color: white;
      box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
      padding: 25px 0;
      z-index: 3;
      transition: 0.3s all;
    }
    .v-tabs {
      .v-tab {
        color: #b8b8b8 !important;
      }

      .v-tab--active {
        color: #474747 !important;
      }
    }
  }
}
