@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 200;
    src:url("https://res.cloudinary.com/sarjanalidi/raw/upload/v1597418650/desaku/font/Avenir-Light_ujn5dd.ttf");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 300;
    src:url("https://res.cloudinary.com/duh8crgew/raw/upload/v1662874538/lumbungdesa/font/Avenir-Book_n7v5vx.ttf");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 400;
    src:url("https://res.cloudinary.com/duh8crgew/raw/upload/v1662874541/lumbungdesa/font/Avenir-Roman_nnn0ax.ttf");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    src:url("https://res.cloudinary.com/duh8crgew/raw/upload/v1662874535/lumbungdesa/font/Avenir-Medium_nqbd0i.ttf");
}

@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 600;
    src:url("https://res.cloudinary.com/duh8crgew/raw/upload/v1662884047/lumbungdesa/font/Avenir-Heavy_niywuf.ttf");
}

@font-face {
    font-family: "Avenir";
    font-style: bold;
    font-weight: bold;
    src:url("https://res.cloudinary.com/sarjanalidi/raw/upload/v1597418648/desaku/font/Avenir-Black_erwcnp.ttf");
}


$font_base: "Avenir";
$break-md: 959px;
$break-sm: 599px;
$font_secondary: "Avenir";

input, option, input::placeholder, p {
    font-family: 'Avenir' !important;
}
@media (max-width: 1264px){
    .container{
        width: 100% !important;
        padding: 12px !important;
        margin-right: auto !important;
        margin-left: auto !important;
        max-width: 100% !important;
    }
}

