.b-stepper {
  .div--wrapper {
    min-height: 70px;
  }

  &__index {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid $green;
  }

  &__bottom-line {
    height: 35px;
    width: 3px;
    background-color: $green;
    margin-left: 20px;
    position: absolute;
    top: -33px;
  }

  .line--bottom {
    height: 35px;
    width: 3px;
    background-color: $green;
    margin-left: 20px;
    position: absolute;
    top: 38px;
    background-color: $green;
  }
}